<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/general.css">
    <title>Checkers</title>
</head>
<body>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-end align-items-center">

            <!--Board column-->
            <div class="col m-0 p-0" id="board">
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0 square"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0 square"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0 square"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0 square"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0 square"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0 square"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0 square"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0 square"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                    <div class="board-col bg-light p-0"></div>
                    <div class="board-col bg-dark p-0"></div>
                </div>
            </div>

            <!--Spacer-->
            <div id="spacer"></div>

            <!--Sidebar column-->
            <div class="col-2 bg-dark text-center d-flex flex-column m-0 h-100" id="sidebar">
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0 mt-2">Game: 0</h4>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Total Score</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light">P1: 0</h6>
                        <h6 class="text-light">P2: 0</h6>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Current Game</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light">P1: 0</h6>
                        <h6 class="text-light">P2: 0</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a href="game.html" class="btn btn-light">Reset</a>
                        <a href="index.html" class="btn btn-light">Menu</a>
                    </div>
                </div>
                <div class="row flex-grow-1 align-items-center">
                    <div class="col">
                        <h4 class="text-light">Red's Turn</h4>
                        <img src="assets/images/man_sidebar.svg" alt="man piece" class="img-fluid">
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/game.js"></script>
</body>
</html>