<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/general.css">
    <title>Checkers</title>
</head>
<body>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-end align-items-center">

            <!--Board column-->
            <div class="col m-0 p-0" id="board">

                <div class="row justify-content-center">  <!--Row A-->
                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="A0" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="A1"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="A2" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="A3"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="A4" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="A5"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="A6" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="A7"></div>
                </div>

                <div class="row justify-content-center">  <!--Row B-->
                    <div class="board-col bg-light p-0" id="B0"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="B1" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="B2"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="B3" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="B4"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="B5" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="B6"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="B7" style="height: 113px; width: 113px;">
                    </div>
                </div>

                <div class="row justify-content-center">  <!--Row C-->
                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="C0" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="C1"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="C2" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="C3"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="C4" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="C5"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="C6" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="C7"></div>
                </div>

                <div class="row justify-content-center">  <!--Row D-->
                    <div class="board-col bg-light p-0" id="D0"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="D1" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="D2"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="D3" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="D4"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="D5" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="D6"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="D7" style="height: 113px; width: 113px; display: none;">
                    </div>
                </div>

                <div class="row justify-content-center">  <!--Row E-->
                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="E0" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="E1"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="E2" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="E3"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="E4" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="E5"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_red.svg" id="E6" style="height: 113px; width: 113px; display: none;">
                    </div>

                    <div class="board-col bg-light p-0" id="E7"></div>
                </div>

                <div class="row justify-content-center">  <!--Row F-->
                    <div class="board-col bg-light p-0" id="F0"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="F1" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="F2"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="F3" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="F4"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="F5" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="F6"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="F7" style="height: 113px; width: 113px;">
                    </div>
                </div>

                <div class="row justify-content-center">  <!--Row G-->
                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="G0" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="G1"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="G2" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="G3"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="G4" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="G5"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="G6" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="G7"></div>
                </div>

                <div class="row justify-content-center">  <!--Row H-->
                    <div class="board-col bg-light p-0" id="H0"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="H1" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="H2"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="H3" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="H4"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="H5" style="height: 113px; width: 113px;">
                    </div>

                    <div class="board-col bg-light p-0" id="H6"></div>

                    <div class="board-col bg-dark p-0">
                        <img src="assets/images/decorative_black.svg" id="H7" style="height: 113px; width: 113px;">
                    </div>
                </div>
            </div>

            <!--Spacer-->
            <div id="spacer"></div>

            <!--Sidebar column-->
            <div class="col-2 bg-dark text-center d-flex flex-column m-0 h-100" id="sidebar">
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0 mt-2">Game: 0</h4>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Total Score</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light">P1: 0</h6>
                        <h6 class="text-light">P2: 0</h6>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Current Game</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light">P1: 0</h6>
                        <h6 class="text-light">P2: 0</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a href="index.html" class="btn btn-light">Menu</a>
                        <a href="game.html" class="btn btn-light">Reset</a>

                    </div>
                </div>
                <div class="row flex-grow-1 align-items-center">
                    <div class="col">
                        <h4 class="text-light">Black's Turn</h4>
                        <img src="assets/images/decorative_black.svg" alt="man piece" class="img-fluid">
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/game.js"></script>
</body>
</html>