<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/general.css">
    <title>Checkers</title>
</head>
<body>

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-end align-items-center">

            <!--Board-->
            <div class="col m-0 p-0" id="board">

                <!--Row A-->
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0" id="A0"></div>

                    <div class="board-col bg-light p-0" id="A1"></div>

                    <div class="board-col bg-dark p-0" id="A2"></div>

                    <div class="board-col bg-light p-0" id="A3"></div>

                    <div class="board-col bg-dark p-0" id="A4"></div>

                    <div class="board-col bg-light p-0" id="A5"></div>

                    <div class="board-col bg-dark p-0" id="A6"></div>

                    <div class="board-col bg-light p-0" id="A7"></div>
                </div>

                <!--Row B-->
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0" id="B0"></div>

                    <div class="board-col bg-dark p-0" id="B1"></div>

                    <div class="board-col bg-light p-0" id="B2"></div>

                    <div class="board-col bg-dark p-0" id="B3"></div>

                    <div class="board-col bg-light p-0" id="B4"></div>

                    <div class="board-col bg-dark p-0" id="B5"></div>

                    <div class="board-col bg-light p-0" id="B6"></div>

                    <div class="board-col bg-dark p-0" id="B7"></div>
                </div>

                <!--Row C-->
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0" id="C0"></div>

                    <div class="board-col bg-light p-0" id="C1"></div>

                    <div class="board-col bg-dark p-0" id="C2"></div>

                    <div class="board-col bg-light p-0" id="C3"></div>

                    <div class="board-col bg-dark p-0" id="C4"></div>

                    <div class="board-col bg-light p-0" id="C5"></div>

                    <div class="board-col bg-dark p-0" id="C6"></div>

                    <div class="board-col bg-light p-0" id="C7"></div>
                </div>

                <!--Row D-->
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0" id="D0"></div>

                    <div class="board-col bg-dark p-0" id="D1"></div>

                    <div class="board-col bg-light p-0" id="D2"></div>

                    <div class="board-col bg-dark p-0" id="D3"></div>

                    <div class="board-col bg-light p-0" id="D4"></div>

                    <div class="board-col bg-dark p-0" id="D5"></div>

                    <div class="board-col bg-light p-0" id="D6"></div>

                    <div class="board-col bg-dark p-0" id="D7"></div>
                </div>

                <!--Row E-->
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0" id="E0"></div>

                    <div class="board-col bg-light p-0" id="E1"></div>

                    <div class="board-col bg-dark p-0" id="E2"></div>

                    <div class="board-col bg-light p-0" id="E3"></div>

                    <div class="board-col bg-dark p-0" id="E4"></div>

                    <div class="board-col bg-light p-0" id="E5"></div>

                    <div class="board-col bg-dark p-0" id="E6"></div>

                    <div class="board-col bg-light p-0" id="E7"></div>
                </div>

                <!--Row F-->
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0" id="F0"></div>

                    <div class="board-col bg-dark p-0" id="F1"></div>

                    <div class="board-col bg-light p-0" id="F2"></div>

                    <div class="board-col bg-dark p-0" id="F3"></div>

                    <div class="board-col bg-light p-0" id="F4"></div>

                    <div class="board-col bg-dark p-0" id="F5"></div>

                    <div class="board-col bg-light p-0" id="F6"></div>

                    <div class="board-col bg-dark p-0" id="F7"></div>
                </div>

                <!--Row G-->
                <div class="row justify-content-center">
                    <div class="board-col bg-dark p-0" id="G0"></div>

                    <div class="board-col bg-light p-0" id="G1"></div>

                    <div class="board-col bg-dark p-0" id="G2"></div>

                    <div class="board-col bg-light p-0" id="G3"></div>

                    <div class="board-col bg-dark p-0" id="G4"></div>

                    <div class="board-col bg-light p-0" id="G5"></div>

                    <div class="board-col bg-dark p-0" id="G6"></div>

                    <div class="board-col bg-light p-0" id="G7"></div>
                </div>

                <!--Row H-->
                <div class="row justify-content-center">
                    <div class="board-col bg-light p-0" id="H0"></div>

                    <div class="board-col bg-dark p-0" id="H1"></div>

                    <div class="board-col bg-light p-0" id="H2"></div>

                    <div class="board-col bg-dark p-0" id="H3"></div>

                    <div class="board-col bg-light p-0" id="H4"></div>

                    <div class="board-col bg-dark p-0" id="H5"></div>

                    <div class="board-col bg-light p-0" id="H6"></div>

                    <div class="board-col bg-dark p-0" id="H7"></div>
                </div>
            </div>
            <!--End Board-->

            <!--Spacer-->
            <div id="spacer"></div>

            <!--Sidebar column-->
            <div class="col-2 bg-dark text-center d-flex flex-column m-0 h-100" id="sidebar">
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0 mt-2">Game: 0</h4>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Total Score</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light">P1: 0</h6>
                        <h6 class="text-light">P2: 0</h6>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <h4 class="text-light mb-0">Current Game</h4>
                        <hr class="bg-light mt-0">
                        <h6 class="text-light" id="p1">P1: 0</h6>
                        <h6 class="text-light" id="p2">P2: 0</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a href="index.html" class="btn btn-light">Menu</a>
                        <a href="game.html" class="btn btn-light">Reset</a>

                    </div>
                </div>
                <div class="row flex-grow-1 align-items-center">
                    <div class="col">
                        <h4 class="text-light" id="turn_ind">Black's Turn</h4>
                        <img src="assets/images/decorative_black.svg" id="turn_ic" alt="man piece" class="img-fluid">
                    </div>
                </div>
            </div>
            <!--End sidebar-->

        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="../model/board.js"></script>
<script src="js/game.js"></script>
</body>
</html>