<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/general.css">

    <title>Checkers- Home</title>
</head>
<body>

    <div class="container-fluid d-flex h-100 flex-column"> <!--This is where our game will live-->

        <!--Title-->
        <div class="row bg-dark mb-2" id="head">
            <div class="col text-center">
                <h1 class="text-light">Checkers</h1>
            </div>
        </div>

        <!--Icon-->
        <div class="row mb-2">
            <div class="col text-center">
                <img class="img-fluid" alt="checkers piece" src="assets/images/man_2.svg">
            </div>
        </div>

        <!--Menu buttons-->
        <div class="row flex-grow-1">
            <div class="col">
                <div class="row mb-2 justify-content-center">
                    <div class="col-3 text-center">
                        <a class="btn btn-dark btn-block" href="game.html">Play</a>
                    </div>
                </div>

                <div class="row mb-2 justify-content-center">
                    <div class="col-3 text-center">
                        <a class="btn btn-dark btn-block" href="rules.html">Rules</a>
                    </div>
                </div>

                <div class="row text-center justify-content-center">
                    <div class="col-3 text-center">
                        <a class="btn btn-dark btn-block" href="#">Exit</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <div class="row bg-dark" id="foot"></div>

    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>