<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/general.css">

    <title>Rules</title>
</head>
<body>

    <div class="container-fluid h-100 bg-dark">
        <div class="row h-100 align-items-center">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-5 text-light">
                        <h2 class="mb-0 text-center">What is Checkers?</h2>
                        <p class="mt-0 p-2">
                            Checkers is a board game played between two people on an 8x8 checked board. The pieces of checkers are
                            called "men". There are two types of pieces, denoting each player's team; red and black. Each player
                            has 12 men, which are initially setup on the first three rows of two opposite sides of the board,
                            placed on every other dark square.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-5 text-light">
                        <h2 class="mb-0 text-center">How to Play</h2>
                        <p class="mt-0 p-2">
                            Pieces are always moved diagonally. A piece can move diagonally forward over another piece if the
                            latter piece has a free square directly diagonal to itself. In this situation, the piece that gets
                            "jumped" will be removed from the board and no longer usable. A chain of "jumps" is possible if
                            there are multiple pieces spaced diagonally with one space in between each (a sequence of single
                            jumps). In the event that a piece makes it to the side of the board opposite of where it originated,
                            that piece becomes a "king" and can now move in any diagonal direction at any time.
                            A player wins the game when they eliminate all of their opponents pieces.
                        </p>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-5 text-light">
                        <h2 class="text-center mb-0">Other Rules</h2>
                        <p class="mt-0 p-2">
                            * If a player has an opportunity to jump, they must do so.
                        </p>
                        <p class="mt-0 p-2">
                            * The darker colored pieces move first.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>