<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/general.css">

    <title>Rules</title>
</head>
<body>

    <div class="container-fluid h-100">

        <div class="row justify-content-center align-items-center">
            <div class="col-5 bg-dark text-light">
                <h2 class="mb-0 text-center">What is Checkers?</h2>
                <p class="mt-0 p-2">
                    Checkers is a board game played between two people on an 8x8 checked board. The pieces of checkers are
                    called "men". There are two types of pieces, denoting each player's team; red and black. Each player
                    has 12 men, which are initially setup on the first three rows of two opposite sides of the board,
                    placed on every other dark square.
                </p>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-5 bg-dark text-light">
                <h2 class="mb-0 text-center">How to Play</h2>
                <h4 class="text-center mb-0"><u>Movement</u></h4>
                <p class="mt-0 p-2">
                    Pieces are always moved diagonally. A piece can move diagonally forward over another piece if the
                    latter piece has a free square directly diagonal to itself. In this situation, the piece that gets
                    "jumped" will be removed from the board and no longer usable. A chain of "jumps" is possible if
                    there are multiple pieces spaced diagonally with one space in between each (a sequence of single
                    jumps). In the event that a piece makes it to the side of the board opposite of where it originated,
                    that piece becomes a "king" and can now move in any diagonal direction at any time.
                </p>
                <br>

                <h4 class="text-center mb-0"><u>Winning</u></h4>
                <p class="mt-0 p-2">
                    A player wins the game when they eliminate all of their opponents pieces through jumps.
                </p>

                <h4 class="text-center mb-0"><u>General Rules</u></h4>
                <ul class="list-group">
                    <li class="list-item">
                        If a player has an opportunity to jump, they must do so.
                    </li>
                </ul>
            </div>
        </div>

    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>